<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CryptoSafe</title>
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>

	<div class="container1">
		<h1> Crypto<span id="safe">Safe</span></h1>
		<form action="/data1/" method=post enctype=multipart/form-data>
			<input id="enc-file" type=file name=file1 hidden="hidden">
			<button type="button" id="custom-button" class="btn">Choose the Encrypted ZIP</button><br>
			<span id="custom-text">No file choosen</span>
			<br><br>
			Only .zip files allowed.
			<br><br><br><br>
			<div>
				<label for="imageFile1">Select  Key-image to Decrypt:</label><br><br>
				<input type="file" id="imageFile1" >
			
			</div>
			<br><input type=submit id="real-process" value="Upload & Process" hidden="hidden">
			<button type="button" id="process" class="btn" onclick="uploadImage1()">Upload & Process</button><br>
		</form>

	</div>



	<script type="text/javascript">
		const realFileBtn = document.getElementById("enc-file")
		const customBtn = document.getElementById("custom-button")
		const customTxt = document.getElementById("custom-text")
		const realProcessBtn = document.getElementById("real-process")
		const customProcess = document.getElementById("process")

		customBtn.addEventListener("click", () => {
			realFileBtn.click()
		})


		realFileBtn.addEventListener("change", () => {
			if(realFileBtn.value){
				customTxt.innerHTML = realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1]

			} else {
				customTxt.innerHTML = "No file choosen, yet."

			}
		})


		customProcess.addEventListener("click", () => {
			realProcessBtn.click()
		})
		function uploadImage1() {
		var fileInput = document.getElementById('imageFile1');
		var file = fileInput.files[0];
		var formData = new FormData();
		formData.append('imageFile1', file);
		var xhr = new XMLHttpRequest();
		xhr.open('POST', 'upload_image1');
		xhr.onload = function() {
			if (xhr.status === 200) {
			document.getElementById('message').innerHTML = 'Image uploaded successfully.';
			} else {
			document.getElementById('message').innerHTML = 'Error uploading image.';
			}
		};
		xhr.send(formData);
		}


		



	</script>


</body>

</html>